<template>
  <v-container grid-list-xl>
    <v-toolbar>
      <v-spacer></v-spacer>

       <v-toolbar-items>
         <v-btn icon><v-icon>save</v-icon></v-btn>
       </v-toolbar-items>
    </v-toolbar>
    <v-layout row wrap >

      <v-flex xs6>
        <v-card tile height="100%" tile>
          <v-card-title primary-title class="primary--text headline">
            Editor
          </v-card-title>
          <v-card-text>
            <v-textarea
              name="editor"
              v-model="text"
              outline
              full-width
              class="mt-0"
            />
          </v-card-text>
        </v-card>
      </v-flex>



      <v-flex xs6>
        <v-card tile height="100%">
          <v-card-title primary-title primary-title class="primary--text headline">
            Rendered
          </v-card-title>
          <v-card-text >

              <div
                v-html="compiled"
                class="outline"
              />

          </v-card-text>
        </v-card>
      </v-flex>

    </v-layout>
  </v-container>

</template>

<script>
import marked from 'marked'
import muetify from 'muetify'

export default {
  name: 'Editor',
  data: () => ({
    text: `# Test of markdown

using Vuetify, Marked, and Muetify

isnt this great`
  }),
  computed: {
    compiled() {
      if (!this.text) return
      return marked(this.text, {rendered:muetify.renderer})
    }
  },
  methods: {
    // update: _.debounce(function (e) {
    //   // this.input = e.target.value
    // }, 300)
  }
}
</script>

<style>

.strech {
  align-items: stretch;
}


textarea[name="editor"] {
  margin-top: 0px !important;
}

.outline {
  border: 2px solid rgba(0,0,0,0.54);
  background: transparent !important;
  border-radius: 4px;
  padding: 0 12px;
}
</style>
