<template>
  <AsyncSlot
    :loading="!this.text"
    :progressOptions="progressOptions"
  >
    {{time}}
  </AsyncSlot>
</template>

<script>
import AsyncSlot from './AsyncSlot.vue'

export default {
  name: 'AuthorName',
  components: {
    AsyncSlot
  },
  props: {
    id: {
      type: String,
      default: null
    },
    progressOptions: {
      type: String,
      default: () => ({
        width: 2,
        size: 20
      })
    },
    module: {
      type: String,
      default: 'fsmd'
    }
  },
  computed: {
    inStore() {
      let has = this.$state.store[this.module].profiles[this.id]
      return has !== undefined
    },
    profile() {
      if (this.inStore) return this.$state.store[this.module].profiles[this.id]
    },
    name () {
      if (this.inStore) return this.profile.displayName
    }
  }
}
</script>

<style lang="css" scoped>
</style>
