<template>
  <AsyncSlot
    :loading="!this.text"
    :progressOptions="progressOptions"
  >
    {{time}}
  </AsyncSlot>
</template>

<script>
import readingTime from 'reading-time'
// import AsyncSlot from '@/components/AsyncSlot'
import AsyncSlot from './AsyncSlot.vue'

export default {
  name: 'ReadingTime',
  components: {
    AsyncSlot
  },
  props: {
    text: {
      type: String,
      default: null
    },
    progressOptions: {
      type: Object,
      default: () => ({
        width: 2,
        size: 20
      })
    }
  },
  computed: {
    time() {
      if (!this.text) return
        return readingTime(this.text).text
    },
  }
}
</script>

<style>
</style>
