<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>FSBP: </span>
        <span class="font-weight-light">FireStore BlogPost</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>

    <v-content>
      <v-layout row wrap>
        <v-flex xs12>
          <ReadingTime :text="text" />
        </v-flex>
        <Editor />
      </v-layout>
    </v-content>
  </v-app>
</template>

<script>
import ReadingTime from '@/components/ReadingTime'
import Editor from '@/components/markdown/Editor'

export default {
  name: 'App',
  components: {
    ReadingTime, Editor
  },
  data: () => ({
    text: null
  }),
  mounted() {
    setTimeout(()=>{
      this.text = 'here is some text set on a delay'
    }, 500)
  }
}
</script>
